<ion-view view-title="SCHOOL NAME"  class="dashboard commentboard">
    <ion-content class="loginborder">
        <div class = "bar-header tabdash tabopt">
          <span class="tab1">Assessment</span>
          <span class="tab2">Charlene A.Holder</span>    
      </div>
      <div class = "bar-header tabdash tabopt attab tabcent">
        <h5><span class="tab6">Comparison</span></h5>
        <h5><span class="tab7">Comments</span></h5>
      </div>
      <div class="attab ktab">
        <h5><span class="tab6">Min:35</span></h5>
        <h5><span class="tab7">Max:95</span></h5>
        <h5><span class="tab6">Avg:63.28</span></h5>
        <h5><span class="tab7">Grade:B</span></h5>
      </div>
      <div>
        <h5 class="tabtitle sktabs">Subject</h5>
        <div class="kimg">
        <img src="/img/marks.png">
        </div>  
      </div>
      <div>
        <div class="skimg">
        <img src="/img/piechart.png">
        </div>  
      </div>
      <div class="attab ktab">
        <h5><span class="tab6">Min:35</span></h5>
        <h5><span class="tab7">Max:95</span></h5>
        <h5><span class="tab6">Avg:63.28</span></h5>
        <h5><span class="tab7">Grade:B</span></h5>
      </div>
</ion-content>
<div class = "tabs tabs-icon-only tabarea">
<a class = "tab-item ticon">
 <img src="/img/home.png">   
</a>

<a class = "tab-item ticon">
   <img src="/img/chart.png">
</a>

<a class = "tab-item ticon">
  <img src="/img/calendar.png">  
</a>
<a class = "tab-item ticon">
  <img src="/img/profile.png">
</a>
</div>
  </ion-view>
