<ion-view view-title="SCHOOL NAME"  class="dashboard commentboard">
    <ion-content class="loginborder">
        <div class = "bar-header tabdash tabopt">
          <span class="tab1">Assessment</span>
          <span class="tab2">Charlene A.Holder</span>    
      </div>
      <div class = "bar-header tabdash tabopt attab">
        <h5><span class="tab6">Sports Days</span></h5>
        <h5><span class="tab7">Visitation Days</span></h5>
        <h5><span class="tab8">Attendance</span></h5>    
    </div>
    <div  class="datecalendar" style="min-height:290px;">
      <datepicker ng-model="dt" min-date="minDate" show-weeks="false" class="well well-sm"></datepicker>
    </div>
    <div class="tabcont sportscont">
        <h5 class="tabtitle sportstitle">Sports Day Schedule</h5>
    </div>
    <div>
      <div class="comimg iconimg">
        <span><img src="/img/circle3.png" class="kicon"><h5 class="mright mkrleft">Cricket</h5><span><img src="/img/circle08.png" class="fcon"><h5 class="fcon fkon">Volleyball</h5></span></span>
        <span><img src="/img/circle10.png"><h5 class="mright mkrleft">Hockey</h5><span><img src="/img/circle07.png" class="fcon"><h5 class="fcon fkonone">Tennis</h5></span></span>
        <span><img src="/img/circle06.png"><h5 class="mright mkrleft">Hockey</h5><span><img src="/img/circle05.png" class="fcon"><h5 class="fcon fkonone">Soccer</h5></span></span>
      </div>   
    </div>

</ion-content>
<div class = "tabs tabs-icon-only tabarea">
<a class = "tab-item ticon">
 <img src="/img/home.png">   
</a>

<a class = "tab-item ticon">
   <img src="/img/chart.png">
</a>

<a class = "tab-item ticon">
  <img src="/img/calendar.png">  
</a>
<a class = "tab-item ticon">
  <img src="/img/profile.png">
</a>
</div>
  </ion-view>
