<ion-view view-title="SCHOOL NAME"  class="dashboard commentboard">
    <ion-content class="loginborder">
        <div class = "bar-header tabdash tabopt">
          <span class="tab1">Assessment</span>
          <span class="tab2">Charlene A.Holder</span>    
      </div>
      <div class = "bar-header tabdash tabopt attab">
        <h5><span class="tab6">Sports Days</span></h5>
        <h5><span class="tab7">Visitation Days</span></h5>
        <h5><span class="tab8">Attendance</span></h5>    
    </div>
    <div  class="datecalendar" style="min-height:290px;">
      <datepicker ng-model="dt" min-date="minDate" show-weeks="false" class="well well-sm"></datepicker>
    </div>
    <div>
        <div class="comimg iconimg">
          <span><img src="/img/circle4.png"><h5 class="mright mrleft">Parents Meeting</h5><span><h5 class="kright"> - Exam Result Discussion</h5></span></span>
          <span><h5 class="kleft">Date</h5><span><h5 class="lright">28/11/2017</h5></span></span>
          <span><h5 class="kleft">Time</h5><span><h5 class="lkright">10:00 AM to 2:00 PM</h5></span></span>
          <hr>
          <span><h5 class="kleft">Date</h5><span><h5 class="lright">28/11/2017</h5></span></span>
          <span><h5 class="kleft">Time</h5><span><h5 class="lkright">10:00 AM to 2:00 PM</h5></span></span>
        </div>
    </div>

</ion-content>
<div class = "tabs tabs-icon-only tabarea">
<a class = "tab-item ticon">
 <img src="/img/home.png">   
</a>

<a class = "tab-item ticon">
   <img src="/img/chart.png">
</a>

<a class = "tab-item ticon">
  <img src="/img/calendar.png">  
</a>
<a class = "tab-item ticon">
  <img src="/img/profile.png">
</a>
</div>
  </ion-view>
