<ion-view view-title="SCHOOL NAME"  class="dashboard commentboard">
        <ion-content class="loginborder">
            <div class = "bar-header tabdash tabopt">
              <span class="tab1">Assessment</span>
              <span class="tab2">Charlene A.Holder</span>    
          </div>
          <div class = "bar-header tabdash tabopt">
            <span class="tab1">Comparison</span>
            <span class="tab2">Comments</span>    
        </div>
        <div class="loginborder comments">
          <div class="comimg">
          <img src="/img/commentpic1.png">
          </div>
          <div class="commenthead">
          <h5>Teacher 1 <span class="mright">Subject: Math</span></h5>
          <p>30 October 12:43PM</p>
          <p>Lorenipsum is simply dummy text of the printing and typesetting Industry.</p>
          </div>
      </div>
      <div class="loginborder comments">
        <div class="comimg">
        <img src="/img/commentpic2.png">
        </div>
        <div class="commenthead">
        <h5>Teacher 2 <span class="mright">Subject: English</span></h5>
        <p>30 October 12:43PM</p>
        <p>Lorenipsum is simply dummy text of the printing and typesetting Industry.</p>
        </div>
    </div>
    <div class="loginborder comments">
      <div class="comimg">
      <img src="/img/commentpic3.png">
      </div>
      <div class="commenthead">
      <h5>Teacher 1 <span class="mright">Subject: Math</span></h5>
      <p>30 October 12:43PM</p>
      <p>Lorenipsum is simply dummy text of the printing and typesetting Industry.</p>
      </div>
  </div>
  <div class="loginborder comments">
    <div class="comimg">
    <img src="/img/commentpic4.png">
    </div>
    <div class="commenthead">
    <h5>Teacher 2 <span class="mright">Subject: English</span></h5>
    <p>30 October 12:43PM</p>
    <p>Lorenipsum is simply dummy text of the printing and typesetting Industry.</p>
    </div>
</div>
  </ion-content>
  <div class = "tabs tabs-icon-only tabarea">
    <a class = "tab-item ticon">
     <img src="/img/home.png">   
    </a>
   
    <a class = "tab-item ticon">
       <img src="/img/chart.png">
    </a>
   
    <a class = "tab-item ticon">
      <img src="/img/calendar.png">  
    </a>
    <a class = "tab-item ticon">
      <img src="/img/profile.png">
   </a>
  </div>
      </ion-view>
      