<!--
  Generated template for the ForgotPassword page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view class="dashboard">  
<ion-content class="logincontent fpasscont loginborder">
  <img alt="logo" class="logoimg" src="/img/slogo.png">
  <div class="bar bar-subheader">
        <h3 class="loginform">Forgot Password?</h3>
  </div>
  <form name="forgotpassword"  novalidate>
    <ion-item class="rounded">      
      <input type="email" required ngModel="email" name="email" placeholder="Email" ></ion-input>
    </ion-item>
    <div class="forgotpassmsg"><h4 class="loginform">Enter the registered email address to<br>receive password reset link</h4></div>        
    <button ion-button type="submit" class="loginbtn" round>Submit</button>
    <button ion-button type="reset" class="resetbtn" round>Cancel</button>
  </form>
</ion-content>
</ion-view>
