<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-view class="dashboard">  
<ion-content class="logincontent loginborder">
  <img alt="logo" class="logoimg" src="/img/slogo.png">
  <div class="bar bar-subheader">
        <h2 class="loginform">Log In</h2>
      </div>
  <form name="loginform"  novalidate>
    <ion-item class="rounded">      
      <input type="email" required ngModel="email" name="email" placeholder="Email" ></ion-input>
    </ion-item>
    <ion-item class="rounded">      
      <input type="password" required ngModel="password" name="password" placeholder="Password"></ion-input>
    </ion-item>
    <ion-item class="rounded">      
      <input type="text"  ngModel="schoolname" name="schoolname" placeholder="School Name"></ion-input>
    </ion-item>
    <button ion-button type="submit" class="loginbtn" round>Sign In</button>
  </form>   
    <div class="forgotpassword">
      <a href="#/forgotpassword">Forgot Password?</a>
    </div>  
</ion-content>
</ion-view>
