<ion-view view-title="SCHOOL NAME" class="dashboard reportboard">
  <ion-content class="loginborder">
      <div class = "bar-header tabdash tabopt tabreport">
          <h5><span class="tab1">Report</span></h5>
          <h5><span class="tab2">Charlene A.Holder</span></h5>    
      </div>
      <h5 class="tabtitle">Select Exam</h5>       
      <select class="examopt">
        <option name="septembermonth">September Month</option>
      </select>
      <div class="tabcont">
        <h5 class="tabtitle">Total Number of Students:<span class="mright mrole">700</span></h5>
        <h5 class="tabtitle">Position:<span class="mright mrole">1st</span></h5>
        <h5 class="tabtitle">Grade:<span class="mright mrole">A+</span></h5>
      </div>
      <div class="tabinfo">
          <div class="marksimg">
              <h5 class="tabtitle">Maths</h5>
              <img src="/img/graph.png">              
          </div>
          <div class="rightcont">
            <p>Average Scoring Needs an Improvement on Math Equation.</p>
            <h5>B</h5>              
          </div>
      </div>
      <div class="tabinfo">
          <div class="marksimg">
              <h5 class="tabtitle">Science</h5>
              <img src="/img/graph.png">              
          </div>
          <div class="rightcont">
            <p>Average Scoring Needs an Improvement on Math Equation.</p>
            <h5>B</h5>              
          </div>
      </div>
      <div class="tabinfo">
          <div class="marksimg">
              <h5 class="tabtitle">Science</h5>
              <img src="/img/graph.png">              
          </div>
          <div class="rightcont">
            <p>Average Scoring Needs an Improvement on Math Equation.</p>
            <h5>B</h5>              
          </div>
      </div>
  </ion-content>
</ion-view>
