<ion-view view-title="SCHOOL NAME" class="dashboard">
    <ion-content class="logincontent accountcontent"> 
      <div class="loginborder">
        <img src="/img/pic1.png">
          <form name="profileform"  novalidate>
              <ion-item class="profileitem">
                <span>
                  <i class="fa fa-user-o" aria-hidden="true" style="float:left; padding: 8px 0 0;"></i>                  
                  <input type="text" required ngModel="fname" name="fname">
                </span>
              </ion-item>
              <ion-item class="profileitem">
                <span>
                  <i class="fa fa-user-o" aria-hidden="true" style="float:left; padding: 8px 0 0;"></i>                        
                 <input type="text" required ngModel="lname" name="lname">
                </span>
              </ion-item>
              <ion-item class="profileitem">
                <span>
                  <i class="fa fa-envelope-o" aria-hidden="true" style="float:left; padding: 8px 0 0;"></i>                        
                <input type="email" required ngModel="email" name="email" placeholder="Johndoe@gmail.com">
                </span>
              </ion-item>
              <ion-item class="profileitem">
                <span>
                  <i class="fa fa-phone" aria-hidden="true" style="float:left; padding: 8px 0 0;"></i>                  
                <input type="text"  ngModel="phonenumber" name="phonenumber">
                </span>
              </ion-item>
              <button ion-button type="submit" class="loginbtn" round>Update</button>
            </form>
      </div>
      <div class = "bar-header">
          <h5 class ="headsubtitle">Child Information</h5>          
    </div>
    <div class="loginborder childimg">
        <img src="/img/pic2.png">
        <div class="childhead">
        <h5>Lena W.Santana</h5>
        <p>Class X,CBSE</p>
        <p>Student ID:859725548</p>
        </div>
    </div>
    <div class="loginborder childimg">
        <img src="/img/pic3.png">
        <div class="childhead">
        <h5>Lena W.Santana</h5>
        <p>Class X,CBSE</p>
        <p>Student ID:859725548</p>
        </div>
    </div>
    </ion-content>
  </ion-view>
  