<ion-view view-title="SCHOOL NAME" class="dashboard">
  <ion-content>
      <div class = "bar-header">
          <h5 class ="headtitle">SCHOOL NAME</h5>
    </div>
    <div class="dashtaboption">
    <span>
    <ion-option-button>Charlene A.Holder</ion-option-button>
    <ion-option-button>Reginald K.Rutledge</ion-option-button>
    <ion-option-button>Charlene A.Holder</ion-option-button>
    <ion-option-button>Reginald K.Rutledge</ion-option-button>
    </span>
    </div>    
    <div class="tabdash">
      <span>
      <a href=""> 
      <img src="/img/reports.png">
      <h3>REPORT</h3>
      </a>
      </span>
    </div>
    <div class="tabdash">
      <span>
         <a href=""> 
        <img src="/img/assessment.png">
        <h3>ASSESSMENT</h3>
          </a> 
       </span> 
      </div>
      <div class="tabdash">
        <span>
          <a href="">
          <img src="/img/calendarhome.png">
          <h3>CALENDAR</h3>
          </a>
         </span> 
      </div>
      <div class="tabdash">
        <span>
            <a href="">
          <img src="/img/account.png">
          <h3>MY ACCOUNT</h3>
          </a>
          </span>
      </div>
      <div class="tabdash">
        <span> 
          <a href="">
          <img src="/img/contact.png">
          <h3>CONTACT US</h3>
          </a>
         </span> 
      </div>
  </ion-content>
</ion-view>
