/* Empty. Add your own CSS if you like */
h5{
    margin-bottom:6px;
}
.loginform{
        text-align:center;
        color:#5e606f;
        font-family:Lato-Bold;
        font-weight: normal;
    }
    .logoimg{
        height:100px;
        width:100px;
    }
    .forgotpassword{
        text-align:center;
    }
    .loginbtn{
        width:95%;
     }
     button.loginbtn {
        margin:15px;
    }
    .logincontent{
        overflow-y:hidden;
    }
    .rounded{
        padding: 0px;
        border: none;
        margin: 0px;
    }
    .rounded input{
        border: 1px solid #000;
        border-radius: 40px;
        text-align: center;
        padding: 0px 0px;
        height: 40px;
        margin: 0px;
        margin-bottom: 15px;
        width: 100%;
    }
    .rounded input::-webkit-input-placeholder{
        color:#000;
    }

    .item.item-block .item-inner{
        padding-right: 0px;
        padding-right: 0px;
        border-bottom: none;

    }
    .logincontent.scroll-content{
        text-align: center;
        padding: 30px 15px;
    }
    .logincontent.scroll-content img{
        height: auto;
        width: 150px;
        margin-bottom: 15px;
        padding-top:15px;
    }
    .logincontent button.loginbtn{
        margin: 0px;
        width: 100%;
        margin-bottom: 15px;
        background: #f47b47;
        padding: 10px 0px;
        border: none;
        border-radius: 25px;
        color: #FFF;
    }
    .bar.bar-stable{
        background: transparent;
        background-image: none;
    }
.bar-subheader{
    position: initial;
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
}
.logincontent button.resetbtn{
    margin: 0px;
    width: 100%;
    margin-bottom: 15px;
    background: #5e606f;
    padding: 10px 0px;
    border: none;
    border-radius: 25px;
    color: #FFF;
}
.fpasscont.scroll-content img {
    height: auto;
    width: 150px;
    margin-bottom: 15px;
    margin-top:38px;
}
.bar{
    background-image: none;
}
.feetball {
    background-repeat: no-repeat;
    background-position:center;
    background-image: url('../img/notes.png');
    width:30px;
    height:auto;
    background-size: cover;
  }
  .homeicon {
    background-repeat: no-repeat;
    background-position:center;
    background-image: url('../img/home.png');
    width:30px;
    height:auto;
    background-size: cover;
  }
  .charticon {
    background-repeat: no-repeat;
    background-position:center;
    background-image: url('../img/chart.png');
    width:30px;
    height:auto;
    background-size: cover;
  }
  .calendaricon {
    background-repeat: no-repeat;
    background-position:center;
    background-image: url('../img/calendar.png');
    width:30px;
    height:auto;
    background-size: cover;
  }
  .profileicon {
    background-repeat: no-repeat;
    background-position:center;
    background-image: url('../img/profile.png');
    width:30px;
    height:auto;
    background-size: cover;
  }
  .dashboard{
      background: url("/img/bgimg.png") no-repeat center center;
      background-size: cover;
      color:#fff;
  }
  .dashboard .scroll-content{
    top: 5%;
    padding: 0 10px;
    /* background:#edf2f5; */
  }
  .dashboard .scroll .tabdash{
    display: inline-block;
    width: 100%;
    background: #FFF;
    padding: 15px 30px;
    border-radius: 5px;
    margin-bottom: 4px;
    border: 1px solid black;
  }
  .dashboard .tabdash img{
    width: 50px;
    float: left;
    margin-right: 30px;
  }
  .dashboard .tabdash h3{
      margin-top: 10px;
      font-size: 20px;
      color:#000;
  }
  .dashboard div a{
      color:transparent;
  }
  .bgmg{
      background-image:url('/img/bgimg.png');
  }
  .dashtaboption{
    display: inline-block;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    padding: 10px 0;
  }
  .dashtaboption .button{
      font-size: 12px;
      line-height: normal;
      background: transparent;
      vertical-align: middle;
      min-height: auto;
      float: left;
  }
  .dashtaboption .button:first-child{
      border-right: 1px solid #e7e7e7;
  }
  .tab-item .icon{
    margin: 12px auto;
    height: 23px;
    width: 23px;
  }
  .headtitle{
      color:#fff;
      text-align:center;
      margin-top:0px;
  }
  h5.headsubtitle {
    text-align: left;
    padding: 5px;
    color:#000;
    font-size:16px;
}
  .loginborder{
      border: 1px solid white;
      margin:10px;
      background:white;
      width: 95.5%;
      height: 94%;
      border-radius:10px;
  }
  .back-text{
      color:white;
  }
  .accountcontent.scroll-content img{
    height: auto;
    width: 80px;
    margin-bottom: 15px;
    padding-top: 15px;

  }
  .childimg{
      text-align:left;
      /*padding:5px;*/
      padding-left:5px;
  }
  .profileitem.item{
      padding:5px;
      padding-bottom:0px;
  }
  .childhead{
      display:inline-block;
      vertical-align: top;
      padding-left:5px;
  }
  p{
      margin-bottom:3px;
  }
  input[type="email"] {
      padding-left:15px;
}
ion-item.profileitem.item{
    border-top:none;
}
.tab1{
    float:left;
    font-size:16px;
    color:#000;
}
.tab2{
    float:right;
    font-size:16px;
    color:#000;
}
.bar.bar-stable .title {
    color: #fff;
}
.commentboard.dashboard .scroll-content {
    top: 5%;
    padding:0px;
    
}
.tabdash.tabopt {
    margin-top: none;
    border-top: none;
    margin-top: -8px;
}
.tab3{
    text-align:center;
    padding-left:15px;
}
.mright{
    padding-right:10px;
    float: right;
}


.loginborder.comments {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
    border-radius: 0;
    padding: 10px;
    margin: 0;
    width: 100%;
}

.comments img{
    width:80px;
}
.tabinfo img{
    width:75px;
    padding: 7px;
}

.commenthead{
    flex: 1 70%;

}
.marksimg{
  flex: 1 28%;
}
.comimg{
    flex: 1 28%;
}
.ticon img{
    width:23px;
    height:23px;
}
.tabarea{
    width:375px;
    height:auto;
}
.reportboard{
   color:#fff;    
}
.reportboard .scroll-content {
    top: 5%;
    padding:0px;
    border-left:0px;
    border-right:0px;
    border-top:0px;
}
.tabtitle{
    margin-left:15px;
}
.examopt{
    margin-left:15px;
    width:90%;
    padding:9px;
    border-radius:5px;
}
.mrole{
    padding-right:50px;
}
.tabinfo{
    border-bottom:1px solid black;
}
.tabinfo{
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: -moz-flex;
    align-content: center;
    align-items: center;
    color:#000;
}
.rightcont p {
    padding-top:40px;
}
.tabcont{
    border-bottom:1px solid black;    
}
span.tab8 {
    padding-left: 21px;
    color:#000;
}
span.tab7 {
    padding-left: 21px;
    color:#000;
}
span.tab6 {
    padding-left: 21px;
    color:#000;
}
.well {
    background: #fff;
    border:none;
    margin-bottom:0px;
}

.text-center {
    text-align: center;
    color: #000;
}

.datecalendar table {
    text-align: center;
    margin: 0 auto;
}

.datecalendar table th, .datecalendar table td{
    vertical-align: top;
    padding: 2px 3px;
}

.datecalendar table th, .datecalendar table td, .datecalendar table button{
    font-size: 15px;
}

.datecalendar table th button, .datecalendar table td button{
    border: none;
    border-radius: 30px;
}

.attab h5{
    display: inline-block;
}

.attab h5 span{
    padding-left: 7px;
padding-right: 7px;
border-right: 1px solid #666;
}

.attab h5:nth-last-of-type(1) span{
border-right: 0;
}


.datecalendar table .btn-info:hover, .datecalendar table .btn-info:focus, .datecalendar table .btn-info.focus, .datecalendar table .btn-info:active, .datecalendar table .btn-info.active, .datecalendar table .open>.dropdown-toggle.btn-info{
background-color: #f47b47;
border-color: #f47b47;
}

.text-info {
    color: #fff;
}
.datecalendar {
    border-bottom: 1px solid black;
}
.iconimg img{
    width:36px;
    padding:5px;
}
.kicon img{
    margin-top:5px;
}
.mleft{
    color:#000;
    padding-right:244px;
}
.mrleft{
    color:#000;
    padding-right:199px;
}
.mkrleft{
    color:#000;
    padding-right:260px;
    padding-top:5px;
}
.mkright{
  color: #000;
  margin-right:90px;        
}
.sportscont{
    color:#000;
}
.sportstitle{
    padding:5px;
}
p.kcont  {
        color: #000;
        vertical-align: top;
        display: inline-block;
        margin-left: 53px;
        margin-top: -10px;
    
}
p{
    color:#000;
}
h5{
  color:#000;
}
.kright {
    float: right;
    margin-top: -27px;
    padding-right: 51px;
}
h5.kleft {
    padding-left: 38px;
    margin-top: 0px;
}
h5.lright {
    float: right;
    margin-top: -22px;
    padding-right: 138px;
}
h5.lkright {
    float: right;
    margin-top: -22px;
    padding-right: 80px;
}
.fcon{
    float: right;
    margin-top: -36px;
    margin-right: 100px;
}
h5.fkon {
    padding-top: 12px;
    margin-right: 30px;
}
h5.fkonone {
    padding-top: 12px;
    margin-right: 48px;
}
.tabcent{
    text-align:center;
}
.ktab{
    text-align:center;
}
.kimg img {
    height: auto;
    width: 358px;
    border-bottom:1px solid black;
    padding-bottom:27px;
}
.sktabs{
    padding:20px;
}
.skimg img{
    height:auto;
    width:342px;
    padding-top:18px;
    padding-bottom:3px;
}
